/* Reset CSS */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Dancing Script', cursive;
  background-color: white; /* Background màu trắng */
  overflow: hidden;
}

#letterContainer {
  display: block; 
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 100%;
  transform: translate(-50%, -50%);
  background: url('images/847074f8-cc46-4fb6-9f46-1714fa3dc48c.jpg') no-repeat center/cover;
  z-index: 5;
  overflow: hidden;
}

#letterContent {
  position: absolute;
  
  left: 10%;
  width: 80%;
  height: 70%;
  font-size: 40px;
  font-weight: bolder;
  color: rgb(15, 13, 13);
  white-space: pre-wrap;
  line-height: 1.6;
  overflow-y: auto;
  padding-right: 10px;
}

.heart {
  position: fixed;
  font-size: 30px; 
  color: red; 
  animation: fall 6s linear infinite;
  z-index: 9999;
}

@keyframes fall {
  0% {
      top: -50px;
      opacity: 1;
  }
  100% {
      top: 110vh;
      opacity: 0;
  }
}

.emoji {
  position: fixed;
  font-size: 30px; 
  color: brown; 
  animation: fall 6s linear infinite;
  z-index: 9999;
}

@keyframes fall {
  0% {
      top: -50px;
      opacity: 1;
  }
  100% {
      top: 110vh;
      opacity: 0;
  }
}


#heartBeat {
  display: none; 
}
@media (max-width: 768px) {
  body, html {
      font-size: 16px; 
  }

  #letterContainer {
      width: 90%;
      height: 90%;
      background-size: 100% 100%; 
  }

  #letterContent {
      top: 10%;
      left: 5%;
      width: 90%;
      height: 80%;
      font-size: 18px;
      line-height: 1.4;
  }


}
